body {
    /*
    height: 100%;
    margin: auto;
    overflow: hidden;
    width: 100%;
    
    */
    margin: 0;
    background-color: "#000";
}
/*
#wrap {
    height: 90%;
    margin: auto;
    width: auto;
}
*/

#mycanvas {
    width: auto;
    height: 90%;
    margin: auto;
    display: block;
    background: url(../image/back.png);
}

@media screen and (max-width: 768px) {
    #wrap {
        height: 90%;
        margin: auto;
        width: auto;
    }

    #mycanvas {
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
    }
}
